body {
  font-family: sans-serif;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

.fit {
  width: 100%;
}

.background-color {
  background-color: #562b81;
}

.text-white {
  color: white;
}

.flex-end {
  justify-content: end;
}
