body {
  font-family: sans-serif;
}

input {
  width: 100%;
  height: 2rem;
}

textarea {
  width: 100%;
  resize: none;
}

.photo {
  width: 100%;
}

.background-color {
  background-color: #562b81;
}

.text-white {
  color: white;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.light-grey-background {
  background-color: #eceaec;
}

.add-margin {
  margin-top: 1.2rem;
}

.add-space {
  margin-top: 0.5rem;
}

.button {
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  border: none;
}

.font-edit {
  font-weight: lighter;
  letter-spacing: 0.05rem;
}

.font-entry {
  font-weight: bold;
  letter-spacing: 0.05rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.nav-style {
  padding-left: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: #562b81;
  border: none;
}

.align {
  margin-left: 25rem;
}

.new-entry-button {
  color: white;
  background-color: #562b81;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

.entries-style {
  font-size: 1.8rem;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.visible {
  display: visible;
}

.add-left-space {
  margin-left: 1rem;
  margin-right: 1rem;
}

#entry-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
